<%- include('partials/head') %>
<title>EXPOTEC - SOBRE NÓS</title>
<link rel="stylesheet" href="/stylesheet/about.css">
<%- include('partials/close-head') %>

<body>
  <%- include("partials/header") %>


  <main>
    <h2>Nós representamos um grupo de estudantes altamente entusiasmados por tecnologias, com o firme propósito de aplicar esse entusiasmo em nossas futuras carreiras.</h2>

    <h2>Juntos, estamos comprometidos em explorar o potencial infinito da tecnologia e transformar ideias em realidade. Através deste projeto, buscamos inspirar e motivar outros a se juntarem a nós nessa jornada emocionante rumo ao futuro digital.</h2>

    <div class="team">
      <div class="developers">
        <h3>Desenvolvedores</h3>
        <span>
          <a target="_blank" href="https://github.com/henrilima">
            <i class="fa-solid fa-code-commit"></i>
            henrilima
          </a>
          <a target="_blank" href="https://github.com/kevensouzz">
            <i class="fa-solid fa-code-commit"></i>
            kevensouzz
          </a>
          <a target="_blank" href="https://github.com/edusabi">
            <i class="fa-solid fa-code-commit"></i>
            edusabi
          </a>
        </span>
      </div>

      <div class="designers">
        <h3>Designers</h3>
        <span>
          <a target="_blank" href="https://github.com/lucasSbn">
            <i class="fa-solid fa-code-commit"></i>
            lucasSbn
          </a>
          <a target="_blank" href="https://github.com/C-Augusto">
            <i class="fa-solid fa-code-commit"></i>
            C-Augusto
          </a>
        </span>
      </div>

    </div>

    <span class="license">2023 &copy; Todos os Direitos Reservados - <i>Apache-2.0 license</i></span>
  </main>


  <script src="https://kit.fontawesome.com/a2640589f9.js" crossorigin="anonymous"></script>
  <script src="/main.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
    loadTheme();
  </script>

</body>

</html>