<footer>
  <div class="links">

    <div class="about-us">
      <h1>Sobre Nós</h1>
      <span>
        <a href="">Como surgiu essa ideia</a>
        <a href="">O quinteto</a>
      </span>
    </div>

    <div class="contact">
      <h1>Contato</h1>
      <span>
        <a href="">Desenvolvedores</a>
        <a href="">Professor</a>
        <a href="">Design</a>
      </span>
    </div>

    <div class="polices">
      <h1>Política</h1>
      <span>
        <a href="">Informações do site</a>
        <a href="">Privacidade</a>
        <a href="">Termos & Práticas</a>
      </span>
    </div>

  </div>

  <span class="list"></span>

  <div class="nav">
    <h1>Expotec</h1>
    <a id="sign-up" href="/auth">Registre-se</a>
  </div>

</footer>